/*  src/Title.css  */
.Title {
  text-align: left;
  box-sizing: border-box;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #FFA500;
  color: #fff;
}

.Title-Subtitle {
  color: rgba(255, 255, 255, 0.75);

}

.navbar {
  height: 100%;
  position: absolute;
  top: 155px;
  left: 0;
  width: 200px;
  text-align: left;
  display: flex;
  flex-direction: column; /* Alignement vertical */
  
  color: #fff;
  padding: 10px;
  margin: 0; /* Pour supprimer les marges par défaut */
  list-style-type: none; /* Pour supprimer les puces de liste */
}

.navbar li {
  margin: 15px 0; /* Ajouter de l'espace entre les éléments */
  margin-left: 40px;
  
}

.navbar li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.navbar li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.navbar li a:hover {
  text-decoration: underline;

}

.rounded-button {
  background-color: #FFA500; /* Couleur de fond */
  border-radius: 50px; /* Rayon de la bordure */
  border: none; /* Supprime la bordure */
  color: white; /* Couleur du texte */
  padding: 10px 20px; /* Espace intérieur */
  text-align: center; /* Alignement du texte */
  text-decoration: none; /* Supprime les liens soulignés */
  display: inline-block; /* Affiche le bouton comme un bloc */
  font-size: 16px; /* Taille de police */
   /* Marge à gauche pour séparer le bouton de la liste de navigation */
  
 margin: 23px; 
  
}